---
Language: Cpp
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeTernaryOperators: false
BreakTemplateDeclarations: Yes
ColumnLimit: 100
CommentPragmas: '^ (IWYU pragma:|NOLINT)'
IncludeCategories:
  - Regex: '^<[Ww]indows\.h>$'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"'
    Priority: 3
KeepEmptyLines:
  AtStartOfBlock: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
TabWidth: 2
...
