__pycache__/
*.pyc
*.egg-info/
*.dist-info/
*.so
*.dll
dist/
build/
.mypy_cache/
.vscode/
.benchmarks/

*.id0
*.id1
*.id2
*.idb
*.i64
*.nam
*.til

perf.data
perf.data.old
.gdb_history

test/files/TwnObj_HyruleCastle_A.Tex.sbfres

# Docs
docs/_build
docs/_autosummary
docs/build
docs/modules
docs/doxygen/*
!docs/doxygen/Doxyfile

